{% extends 'base.html' %}

{% block content %}
<div class="container bg-light col-sm-12 col-md-10 col-lg-8 col-xl-4 py-1 mb-3 rounded">

    <h1>Deployment Success!</h1>
    <h2>Details</h2>
    <p>
        IP: {{ ct_ip }}<br>
        Hostname : {{ ct_hostname }}<br>
        VLAN: {{ ct_vlan }}<br>
        Type: {{ ct_template }}<br>
    </p>
    <p>
        Your container has been built and started, your firewall has been updated with an object, and IP 
        is reserved in PHPIpam + a PTR record has been autocreated if you have integrated PHPIpam with 
        PowerDNS. <br>

        You need to log into your <a href="http://ipam.yllenet.com">IPAM</a> and add an A-record from 
        the reserved IP address (because I haven't integrated this with PowerDNS API yet). Apart from that, 
        you're golden. 
    </p>

</div>
{% endblock %}
